<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>All Deadlines</title>
    <link rel='stylesheet' href='/deadlinr/css/bootstrap.css' />
    <link rel='stylesheet' href='/deadlinr/css/datetimepicker.css' />
    <script type="text/javascript" src="/deadlinr/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/deadlinr/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>All Deadlines<small></small></h1>
        </div>
        <div>
            <ul class="pager">
                <li class="previous">
                    {{#page_prev}}<a href="/deadlinr/wall/{{ wall_id }}/all/{{ page_prev }}">&larr; Previous</a>{{/page_prev}}
                </li>
                <li class="next">
                    {{#page_next}}<a href="/deadlinr/wall/{{ wall_id }}/all/{{ page_next }}">Next &rarr;</a>{{/page_next}}
                </li>
            </ul>
            {{#deadlines}}
                <div class="alert alert-block {{colorAlert}}">
                    <div class="btn-group" style="float:right">
                      <button class="btn" onclick="handleDelete('{{ _id }}')"><i class="icon-remove"></i></button>
                      <button class="btn" onclick="handleEdit('{{ _id }}');"><i class="icon-pencil"></i></button>
                    </div>
                    <h2>{{ title }} <small>{{ expires_formatted }} </small></h2>
                    Expires: {{ expires_formatted }} <a href="{{ url }}">{{ url }}</a> {{ tags }}
                    <div class="progress" style="height:6px">
                        <div class="bar {{colorProgress}}" style="width: {{ progressBarAgo }}%; opacity:0.3"></div>
                        <div class="bar {{colorProgress}}" style="width: {{ progressBarAhead }}%"></div>
                    </div>
                </div>
            {{/deadlines}}
            {{^deadlines}}
            <div class="well">
                No deadlines found!
            </div>
            {{/deadlines}}
            <ul class="pager">
                <li class="previous">
                    {{#page_prev}}<a href="/deadlinr/wall/{{ wall_id }}/all/{{ page_prev }}">&larr; Previous</a>{{/page_prev}}
                </li>
                <li class="next">
                    {{#page_next}}<a href="/deadlinr/wall/{{ wall_id }}/all/{{ page_next }}">Next &rarr;</a>{{/page_next}}
                </li>
            </ul>
        </div>
    </div>
<script type="text/javascript">
function handleEdit(deadline_id) {
    document.location.href='/deadlinr/wall/{{ wall_id }}/edit/' + deadline_id;
    return true;
};
function handleDelete(deadline_id) {
    if (confirm('Are you sure to delete selected deadline?')) {
        document.location.href='/deadlinr/wall/{{ wall_id }}/delete/' + deadline_id;
        return true;
    }
    return false;
};
</script>
</body>
</html>
